/** Add css rules here for your application. */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 1em 0px .4em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #777777;
  margin: .4em 0px 1em;
  text-align: center;
}

p {
  margin: 1em 0px;
}

/* Text in a shaded box */
.explanation {
  margin: .3em;
  border: 4px solid silver; /* #ccf; */
  padding: 0em 1em;
  background-color: #e8e8ff;
}

/* Text in an unshaded box */
.boxed {
  margin: .3em;
  border: 4px solid silver;
  padding: .2em 1em;
}

/* Contains an entire proof or subproof. */
.proof {
  margin: 3px;
  border-left: 8px solid #ccf;
}

/* Hypotheses */
.hyps {
  /* This is the divider between the hypotheses and proof steps.*/
  border-bottom: 4px solid #ccf;
}

/* Contains the proof steps and the goal WFF. */
.steps {
}

/* Individual hypothesis or step. */
.proofLine {
  white-space: nowrap;
  padding-bottom: 2px;
  clear: both;
}

/* Selected proof line, e.g. for editing. */
.proofLine:hover {
  background-color: #eef;
}

.proofLine {
  border: 2px solid transparent;
}

.proofLine.selectedLine {
  border: 2px solid gray;
}

/* Expression within a proof line. */
.proofLine .expr, .proofStep .expr {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
}

.expr.hovered {
  background-color: #ffffaa;
  border-color: silver;
}

/* Area (on the left) of a proof line that affords selection. */
.proofLine .lineSelector {
  cursor: default;
}

/* The selected part of a WFF. */
.proofLine span.expr.selectedExpr {
  background-color: #00ee00;
  border: 1px solid #00cc00;
}

/* Buttons at end of each proof line */
.lineButton {
  padding: 0px;
  float: right;
  visibility: hidden;
}

/* Controls that can appear after a proof line */
.lineControls {
  font-size: 10pt;
}

/* To make IE happy!  The contents need not have any effect. */
div.proofLine:hover {
  visibility: visible;
}

div.proofLine:hover .lineButton, div.proofLine.selectedLine .lineButton {
  visibility: visible;
}

/* Proof displays */

/* Header line and comments for display. */
.proofHeader {
    margin: .5em 1.5em;
    line-height: 150%;
}

.proofDisplay {
    margin: 1em;
    font-family: monospace;
}

.proofStep {
    background-color: beige;
    font-size: 90%;
    padding: 2px;
    margin: 4px 0px;
}

.proofStep .stepInfo {
    margin-left: 1em;
    font-style: italic;
    color: gray;
}

.proofStep .hover, .proofStep .dep, .proofStep.hover {
  background-color: white;
 }

/* Old value ("removed") */
.proofStep .reduced, .proofStep .old {
  background-color: #FBB;
 }

/* New value ("replacement") -- green */
.proofStep .hover2, .proofStep .reduced2, .new {
  background-color: #3e8;
}

/* References to the current step. */
span.referenced {
  background-color: pink;
}

span.ruleName {
  color: #55F;
  cursor: pointer;
}
