/** Add css rules here for your application. */

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0px .2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: .4em 0px 1em;
}

h2, h3 {
  margin-bottom: .5em;
}

h4 {
  display: run-in;
}

h4:after {
  content: '. ';
}

body {
  margin: 1em 3em 1em 1em;
  text-align: left;
  font-family: sans-serif
}

p {
  margin: 1em 0px;
}

table {
  border-collapse: separate;
  empty-cells: show;
}

/* Source code (tty) style */
code {
  color: #860;
  white-space: nowrap;
  font-size: 110%;
}

.italic {
  font-style: italic;
}

/* Text wrapping */
.nowrap {
  white-space: nowrap;
}

.wrap {
  white-space: wrap;
}

.ellipsis {
  color: gray;
}

/**
 * Truth tables for binary operators
 */

table.binaryTruthTable {
  border-collapse: collapse;
  margin-bottom: 1.5em;
}

table.binaryTruthTable td.truthy, table.binaryTruthTable td.falsy {
  padding: 2px 10px;
  border: 2px solid silver;
}

/* This needs to be less specific than a rule for class cellHighlight. */
td.falsy {
}

table.binaryTruthTable th {
  font-weight: normal;
  text-align: center;
  padding: 2px 10px;
}

/* This needs to take precedency over backgrounds for "falsy" cells. */
table.binaryTruthTable td.cellHighlight, .cellHighlight {
  background-color: #fcc;
}

.thHighlight {
  background-color: #fcc;
}

table.binaryTruthTable td.truthy:after {
  content: "true";
}

table.binaryTruthTable td.falsy:after {
  content: "false";
}


/* Just below the main heading */
div#slogans {
  margin-bottom: 1em;
  text-align: center;
  font-style: italic;
}

/* Contains the left navigation */
td#leftNav {
  vertical-align: top;
  padding-top: 7em;
  width: 15em;
}

td#leftNav a {
  display: block;
  font-style: italic;
  margin: .3em 1.5em .3em 1em;
  text-decoration: none;
  text-indent: -1em;
}

/* Left nav items */
td#leftNav a:before {
  content: "⊦ ";
}

/* Text in a shaded box */
.explanation {
  margin: .3em;
  border: 4px solid silver; /* #ccf; */
  padding: 0em 1em;
  background-color: #e8e8ff;
}

/* Text in an unshaded box */
.boxed {
  margin: .3em;
  border: 4px solid silver;
  padding: .2em 1em;
}

/* Not displayed */
.hidden {
  display: none;
}

/* Proof displays -- proof.js */

/* Header line and comments for display. */
.proofHeader {
    margin: 1em 1.5em .5em;
    line-height: 120%;
}

/* Display of the proof itself */
table.proofDisplay {
    margin: .2em 0em;
    padding: 1px;
    /* Right margin does not affect the right edge, use padding. */
    padding-right: 2em;
    width: 100%;
}

.stepsParent {
  /* Position the step details overlay relative to this. */
  position: relative;
}

/*
 * Container for all the proof steps.  Slightly darker background
 * than the individual steps.
 */
.proofSteps {
  background-color: #beb;
  padding: 2px;
  /*
     The touch screen tap highlighting is confusing, so prevent it.
  */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /* white-space: nowrap could go here to turn off text wrapping. */
}

/* The outermost element of a step */
.proofStep {
    clear: both;
    background-color: #F0F0DA;
    font-family: STIXGeneral;
    padding: 2px;
    margin: 1px 0px;
    /* If needed to avoid undesired text selection:
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    */
}

/* Step deleter control, only visible when the step is hovered. */
.proofStep .deleteStep {
  visibility: hidden;
  float: right;
  /* Floating right pushes the button down; this helps. */
  height: 60%;
}

.proofStep.hover .deleteStep {
  visibility: visible;
}

/* Rule name and information about rule arguments. */
.proofStep .stepInfo {
    margin-left: 1em;
    font-family: sans-serif;
    font-size: 90%;
    color: gray;
}

.proofStep .argDetails, .proofStep .argDetails code {
    color: #999;
}

/* Overlay Look/Feel (details of hovered step) */
.yui3-overlay-content {
    padding: 1px 3px;
    border: 1px solid silver;
    border-top-width: 0px;
    color: gray;
    background-color: white;
    font-size: 80%;
}

.yui3-overlay-hidden {
    display: none;
}

/* Highlighting of parts of proof steps */

.proofStep.hover, .proofStep.dep .stepNumber {
  background-color: white;
 }

.proofStep.selected {
  background-color: #FF6;
}

/* Old value ("removed"), occurrence of variable to be substituted. */
.proofStep .old, .proofStep .occur {
  color: #A0A0A0; /* Between silver and gray */
}

/* Scope of operation, e.g. function body to substitute into.
 * Lower priority than "new", so precedes it in the file.
 */
.proofStep .scope {
  background-color: #eee;
}

/* New value ("replacement") -- green */
.proofStep .new {
  background-color: lime;
}

/* References to a step number, where it is used as an input */
span.stepReference.referenced {
  border-color: #88F;
}

span.ruleName {
  color: #55F;
  cursor: pointer;
}

span.stepReference {
  font-style: italic;
}

/* Expression in a proof step display, and step numbers */
.proofStep .expr, span.stepNumber, span.stepReference {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
}

/* When hovering over an expression */
.proofStep .expr.hovered {
  background-color: #ffffaa;
  border-color: silver;
}

.proofStep .expr.selected {
  border-color: black;
}

/* Styling for constants T and F, sans-serif roman. */
.proofStep .expr .trueFalse {
  font-family: sans-serif;
  font-size: 90%;
}


/* Proof step editor */

/* Overrides styles for .proofDisplay. */
.stepEditor {
  background-color: white;
  /* Leave space for the autocompleter */
  margin-bottom: 18em;
}

/* Text used as a hint, as in a text field */
.hinted {
  font-style: italic;
  font-size: 90%;
  color: #999;
}

/* Input for rule name, wff, etc. */
input.sted-input {
  font-family: monospace;
  width: 80%;
}

/* Inputs for rule arguments */

input.term, input.string, input.funcall {
  font-family: monospace;
  width: 30em;
}

input.varName, input.step, input.equation, input.implication {
  font-family: monospace;
  width: 4em;
}

/* Autocompleter */
.yui3-aclist {
  font-size: 80%;
}

.yui3-aclist-content {
  /* YUI autocompleter display.  This goes in the margin below the step
    editor, which is 18 em high, but the font here is smaller.  */
  max-height: 20em;
  overflow: auto;
}



/* Proof state display */

.proofStateDisplay {
    padding: 1em;
    border: 2px solid #aaf;
}

textarea.proofStateArea {
    width: 95%;
    margin: 1em 0em;
}
